:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --bg-color: #2f303a;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: #f5f4fa;
  --border-header: #ececec;
  --bottom-part-card: #eeeeee;
  --gradient: rgba(47, 48, 58, 0.4);
  --icons-social-media: #afb1b8;
  --button-shadow: rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --img-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --bd-modal-window: rgba(0, 0, 0, 0.2);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}
img {
  display: block;
}

/* common styles */

.link {
  text-decoration: none;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  display: flex;
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--title-text-color);
}

.description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.item {
  margin-bottom: 10px;
}
/* header */

header {
  border-bottom: 1px solid var(--border-header);
}
.box {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
  text-decoration: none;
  padding-bottom: 28px;
}
.current::after {
  position: absolute;
  content: "";
  top: 100%;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link,
.auth-nav .link {
  display: block;
  padding: 32px 0px;
}

.header-item {
  display: block;
}

.header-item + .header-item {
  margin-left: 50px;
}
/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon-envelope {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .icon-envelope,
.link:focus .icon-envelope {
  fill: var(--accent-color);
}
/* header end*/

/* hero */
.button-style {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  text-align: center;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  text-transform: uppercase;
}
.hero {
  padding: 200px 0px;
  text-align: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(to right, var(--gradient), var(--gradient)),
    url("../images/overlay-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--bd-modal-window);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  /* transform: scaleY(-100%); */
}

.backdrop.is-hidden .modal {
  transform: scale(1.1) translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--primary-bg-color);
  border-radius: 4px;
  box-shadow: var(--modal-shadow);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  /* margin-top: 40px; */
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.form-modal {
  width: 528px;
  padding: 12px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field input {
  width: 100%;
  margin: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field label {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.span-modal {
  position: relative;
  margin-top: 4px;
}
.icon-form-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.form-field textarea::placeholder {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-modal .span-modal input:focus + .icon-form-modal {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.check {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 37px;
  margin-top: 20px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.policy-icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: -25px;
}

.offert {
  margin-left: 4px;
  color: var(--accent-color);
}
.checkbox-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox-input:checked + .policy-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/icon-check-1.svg");
  background-size: contain;
  background-origin: border-box;
}

.check:hover,
.check:focus {
  cursor: pointer;
}
.form-modal .button-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close-icon {
  fill: #000000;
  display: block;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .close-icon,
.button-close:focus .close-icon {
  fill: var(--accent-color);
}
.button-close {
  display: block;
  text-align: center;
  text-decoration: none;
  min-width: 30px;
  background-color: var(--primary-bg-color);
  margin: 12px 8px 0px auto;
  border: none;
  cursor: pointer;
}

/*Principles*/

.section .item {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-item {
  width: 270px;
  margin-right: 30px;
  /* padding-bottom: 30px; */
  background-color: var(--primary-bg-color);
}
.icon {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-bg-color);
}
.icon-view {
  align-self: center;
}
.list-item:nth-child(4n) {
  margin-right: 0px;
}
/* .subject::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--button-bg-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.subject:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}

.subject:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}

.subject:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}

.subject:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
} */

/* ========================= what are we doing ============================ */

.part {
  padding-bottom: 94px;
}
.part-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.list-works {
  display: block;
  width: 370px;
  margin-right: 30px;
}

.list-works:nth-child(3n) {
  margin-right: 0px;
}
.item-works {
  position: relative;
}
.name-works {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: var(--img-bg-color);
}
.types-of-jobs {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.section {
  padding: 94px 0;
}

/* ==============================  our team ===================================== */

.part-employees {
  padding: 94px 0px;
  background-color: var(--button-bg-color);
}
.part-employees .list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-part {
  padding-top: 30px;
  padding-bottom: 30px;
}
.part-employees .item {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-part .description {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.icons-social-media {
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  padding: 16px 30px 0px 30px;
  list-style: none;
}
.icons-sm {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.link-sm:hover .icon-view,
.link-sm:focus .icon-view {
  fill: var(--primary-bg-color);
}
.icons-sm + .icons-sm {
  margin-left: 10px;
}
.link-sm {
  display: inherit;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-sm:hover,
.link-sm:focus {
  background-color: var(--accent-color);
}
.link-sm .icon-view {
  fill: var(--icons-social-media);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* regular clients */

.regular {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.regular-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--icons-social-media);
  border-radius: 4px;
  color: var(--icons-social-media);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-clients:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: var(--icons-social-media);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-clients:hover .clients-icon,
.regular-clients:focus .clients-icon {
  fill: var(--accent-color);
}
.regular-clients:hover,
.regular-clients:focus {
  border-color: var(--accent-color);
}

/* Footer */

.footer-style {
  padding: 60px 0px;
  background-color: var(--bg-color);
}
.footer-style .logo-studio {
  color: var(--primary-bg-color);
}
.footer-style .description {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  color: var(--primary-bg-color);
}

.footer-style .link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  color: var(--contacts-text-color);
  text-decoration: none;
}

.first-item {
  margin-bottom: 9px;
}

.footer-list {
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}
.call-to-action {
  display: flex;
  padding: 0px;
  list-style: none;
}
.call-to-action .link-sm .icon-view {
  fill: var(--primary-bg-color);
}
.call-to-action .link-sm {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-to-action .link-sm:hover,
.call-to-action .link-sm:focus {
  background-color: var(--accent-color);
}
.footer-style .container {
  display: flex;
  align-items: baseline;
}
.footer-call {
  margin-left: 69px;
}
.subtitle {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer-subtitle {
  margin-left: 101px;
}
.form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bg-color);
}
.form-input::placeholder {
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-subtitle .button-style {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px 28px;
}

.icon-form-footer {
  align-items: center;
  margin-left: 10px;
}
.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Portfolio styles */
.projects-section {
  padding: 94px 0;
}

.button-view {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-item + .filters-item {
  margin-left: 8px;
}

.button-view:focus,
.button-view:hover {
  background: var(--accent-color);
  color: var(--primary-bg-color);
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.projects {
  flex-wrap: wrap;
}

.project-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list-item:hover,
.project-list-item:focus {
  box-shadow: 0px 1px 1px var(--button-shadow);
}

.project-list-item:nth-child(3n) {
  margin-right: 0px;
}
.project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.bottom-part {
  padding: 20px 24px;
  border: 1px solid var(--bottom-part-card);
  border-top: none;
}
.list-works {
  text-decoration: none;
  color: var(--title-text-color);
}

.works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.filter-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.img-class {
  position: relative;
  overflow: hidden;
}
.details {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: var(--portfolio-overlay);
  /* opacity: 0; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.more-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}
.list-works:hover .details,
.list-works:focus .details {
  /* opacity: 1; */
  transform: translateY(0);
}
