.footer-style {
  padding: 60px 0px;
  background-color: $bg-color;
}
.footer-style__container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  align-items: baseline;
}
.footer-style__position {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-style__description {
  @media scren and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 9px;
  }
  font-style: normal;
  color: $primary-bg-color;
}
.logo__studio-white {
  color: $primary-bg-color;
}
.footer-list {
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}
.footer-list__link {
  @extend %font-style;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  list-style: none;
  color: $contacts-text-color;
  text-decoration: none;
}
.footer-list__mail {
  margin-bottom: 9px;
}
.appeal {
  display: flex;
  padding: 0px;
  list-style: none;
}
.icons-sm__icon-view {
  fill: $primary-bg-color;
}

.icons-sm__link {
  background-color: $footer-link-sm;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-call {
  @media screen and (min-width: 1200px) {
    margin-left: 69px;
  }
}
.footer-title {
  @extend %font-style;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: $primary-bg-color;
}

.footer-style-subscription {
  @media screen and (min-width: 1200px) {
    margin-left: 101px;
  }
}

.form-footer {
  @include centred();
  flex-direction: row;
}
.form-footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $bg-color;
  &::placeholder {
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    @include centred();
    letter-spacing: 0.03em;
    color: $form-footer-placeholder;
  }
}

.form-footer__icon {
  align-items: center;
  margin-left: 10px;
}
.form-footer__button-style {
  @include centred();
  height: 50px;
  padding: 10px 28px;
}
.footer-style__main {
  .logo {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-style__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-footer {
    flex-direction: column;
    width: 100%;
  }
  .footer-style-subscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-footer__input {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-footer__button-style {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .footer-call {
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .appeal {
    margin: 0;
  }
  .footer-style__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .logo {
    //   margin-bottom: 20px;
    // }
  }
  .footer-style__position {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-style__description {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-style-subscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-footer__input {
    width: 450px;
    margin-bottom: 20px;
  }
  .form-footer {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .form-footer__button-style {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .footer-style__position {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .footer-style__main {
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .logo {
    //   margin-bottom: 20px;
    // }
  }
  .footer-style__description {
    margin-bottom: 8px;
  }
  .footer-call {
    // margin: 60px 0;
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .appeal {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-style__main {
    .logo {
      display: block;
      margin-bottom: 20px;
    }
  }
  .footer-style__description {
    margin-bottom: 9px;
  }
}
