.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $bd-modal-window;
  opacity: 1;
  @include transition(opacity);
}
.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: $primary-bg-color;
  border-radius: 4px;
  box-shadow: $modal-shadow;
  @include transition(transform);
  .is-hidden & {
    transform: scale(1.1) translate(-50%, -50%);
  }
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;
}
.data-form {
  width: 528px;
  padding: 12px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  .button-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $button-shadow-form;
    border-radius: 4px;
  }
}
.data-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  input {
    width: 100%;
    margin: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    @include transition(border-color);
  }
  label {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
  }
}
textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  &::placeholder {
    padding: 12px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.data-form__span {
  position: relative;
  margin-top: 4px;
}
.data-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  @include transition(fill);
}

.data-form .data-form__span input:focus + .data-form__icon {
  fill: $accent-color;
  border-color: $accent-color;
}
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 37px;
  margin-top: 20px;
  margin-bottom: 30px;

  @extend %font-style;
  font-weight: 400;
  line-height: 1.71;
  color: #757575;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.checkbox__policy-icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: -25px;
}

.offert {
  margin-left: 4px;
  color: $accent-color;
}
.checkbox__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.checkbox__input:checked + .checkbox__policy-icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url("../images/icon-check-1.svg");
  background-size: contain;
  background-origin: border-box;
}

.button-close {
  display: block;
  text-align: center;
  text-decoration: none;
  min-width: 30px;
  background-color: $primary-bg-color;
  margin: 12px 8px 0px auto;
  border: none;
  cursor: pointer;
  &:hover .close-icon,
  &:focus .close-icon {
    fill: $accent-color;
  }
  .close-icon {
    fill: #000000;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    @include transition(fill);
  }
}
